.json-definition .CodeMirror {
  height: auto;
}

.container-fluid {
  margin: 2em 0;
}

.form-group.field-object.has-error > div > .error-detail {
  display: none;
}

.form-group.field-array.has-error > div > .error-detail {
  display: none;
}

ul.error-detail > li {
  display: none;
}
ul.error-detail > li:first-child {
  display: list-item;
}

button[type="submit"] {
  display: none;
}

.CodeMirror {
  height: 100%;
}
